{% extends 'base.html' %}

{% block title %}Voice Mapping{% endblock %}

{% block active_vmap %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <form action="" method="POST" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
                <button type="submit">送信</button>
            </form>

        </div>
    </div>
</div>

{% endblock %}


{% block contents_plot %}

<h1>散布図</h1>
  <canvas id="myScatterChart"></canvas>
  <!-- CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

  <script>
  // グラフ作成
  var ctx = document.getElementById("myScatterChart");

  var list = []
  var label_list = []
  {% for plot in plots %}
    list.push({'x': {{ plot.x }}, 'y': {{plot.y}}})
    label_list.push("a")
  {% endfor %}


  var myScatterChart = new Chart(ctx, {
    type: 'scatter',
    data: {
      labels: label_list,
      datasets: [
        {
          label: ['Voice Map'],
                data: list,
          backgroundColor: 'RGBA(225,95,150, 1)',
        }]
    },
    options:{
      title: {
        display: true,
          text: 'Voice_Map'
      },
      scales: {
        xAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'x'
          },
          ticks: {
            suggestedMin: -3.0,
            suggestedMax: 3.0,
            stepSize: 0.5,
            callback: function(value, index, values){
              return  value
            }
          }
        }],
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'y'
          },
          ticks: {
            suggestedMax: -3.0,
            suggestedMin: 3.0,
            stepSize: 0.5,
            callback: function(value, index, values){
              return  value
            }
          }
        }]
      }
    }
  });
</script>

{% endblock %}                 

